.cell-wrapper {
    fill: transparent;
}

.cell {
    transition: all 0.2s ease;
}

.available {
    stroke: var(--color-accent);
    fill: var(--color-accent);
}

.empty {
    stroke: var(--color-accent);
    fill: transparent;
}

.used {
    fill: lightcoral;
}

.disabled {
    fill: #ddd;
}

.cell:not(.used):hover,
.cell:not(.disabled):hover {
    fill: var(--color-accent-hover);
}
