.cell-wrapper {
    fill: transparent;
}

.cell {
    transition: all 0.2s ease;
}

.available {
    stroke: var(--color-blue);
    fill: var(--color-blue);
}

.empty {
    stroke: var(--color-accent);
    fill: transparent;
}

.used {
    fill: var(--color-red);
}

.used:hover {
    fill: var(--color-red-hover);
}

.disabled {
    fill: var(--color-gray);
}

.disabled:hover {
    fill: var(--color-gray-hover);
}

.available.hovering:hover {
    stroke: var(--color-blue-hover);
    fill: var(--color-blue-hover);
}
