.wrapper {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.login-container {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-gap: 2rem;
    width: 40rem;
}

.title {
    font-size: 1.8rem;
    font-weight: bold;
    justify-self: center;
    color: var(--color-accent);
}

.form-container {
    display: grid;
    grid-auto-flow: row;
    grid-gap: 1.4rem;
}

.form-item {
    height: 3.2rem;
    font-size: 1.4rem;
    border-radius: 0.3rem;
    padding-left: 1.5rem;
    border: 0.1rem solid var(--color-border);
}

.actions {
    display: grid;
    grid-gap: 1rem;
    grid-auto-flow: column;
    justify-self: end;
    align-items: center;
}

a {
    font-size: 1.2rem;
    text-decoration: none;
    color: var(--color-text);
    transition: color 0.2s ease;
}

a:hover {
    color: var(--color-accent);
}
