<div class="wrapper">
    <ob-block>
        <div class="login-container">
            <div class="title">OfficeBooking</div>
            <div class="form-container">
                <ob-input
                    label="Email"
                    [type]="inputType.TEXT"
                    (onchange)="handleChange($event, 'email')"
                ></ob-input>
                <ob-input
                    label="Password"
                    [type]="inputType.PASSWORD"
                    (onchange)="handleChange($event, 'password')"
                ></ob-input>
            </div>
            <div class="actions">
                <a [routerLink]="'/authorization'">Register</a>
                <ob-button (click)="handleClick()" name="Login"></ob-button>
            </div>
        </div>
    </ob-block>
</div>
