<div class="grid">
    <div class="chart">
        <ob-rs-canvas
            class="canvas"
            [cells]="cells"
            [height]="height"
            [width]="width"
            [nodeSize]="nodeSize"
            [padding]="padding"
            (selectPlace)="handleSelectPlace($event)"
        ></ob-rs-canvas>

        <ob-rs-border class="border-top" [size]="width"></ob-rs-border>
        <ob-rs-border class="border-bottom" [size]="width"></ob-rs-border>
        <ob-rs-border
            class="border-left"
            [size]="height"
            [vertical]="true"
        ></ob-rs-border>
        <ob-rs-border
            class="border-right"
            [size]="height"
            [vertical]="true"
        ></ob-rs-border>

        <div class="axis-x axis-left">
            <div
                class="axis-item"
                *ngFor="let item of axisX"
                [style.height.px]="nodeSize"
                [style.width.px]="nodeSize"
            >
                {{ item }}
            </div>
        </div>

        <div class="axis-x axis-right">
            <div
                class="axis-item"
                *ngFor="let item of axisX"
                [style.height.px]="nodeSize"
                [style.width.px]="nodeSize"
            >
                {{ item }}
            </div>
        </div>

        <div class="axis-y axis-top">
            <div
                class="axis-item"
                *ngFor="let item of axisY"
                [style.height.px]="nodeSize"
                [style.width.px]="nodeSize"
            >
                {{ item }}
            </div>
        </div>

        <div class="axis-y axis-bottom">
            <div
                class="axis-item"
                *ngFor="let item of axisY"
                [style.height.px]="nodeSize"
                [style.width.px]="nodeSize"
            >
                {{ item }}
            </div>
        </div>
    </div>

    <div class="legend">
        <ob-rs-legend [nodeSize]="nodeSize" [padding]="padding"></ob-rs-legend>
    </div>
</div>
