.chart {
    display: grid;
    grid-column-gap: 1rem;
    grid-template-areas:
        '. axis-top .'
        'axis-left canvas axis-right'
        '. axis-bottom .'
        'legend legend legend';
    width: max-content;
}

.canvas {
    grid-area: canvas;
}

.axis-top {
    grid-area: axis-top;
}

.axis-bottom {
    grid-area: axis-bottom;
}

.axis-left {
    grid-area: axis-left;
}

.axis-right {
    grid-area: axis-right;
}

.axis-y {
    display: grid;
    grid-auto-flow: column;
    width: min-content;
}

.axis-x {
    display: grid;
    grid-auto-flow: row;
    width: min-content;
}

.axis-item {
    display: grid;
    justify-content: center;
    align-content: center;
}

.grid {
    display: grid;
    grid-gap: 2rem;
    justify-items: center;
}
