<div class="grid" *ngIf="place">
    <div class="title">{{ place.name }}</div>

    <ob-section name="Equipment">
        <ul *ngIf="place.equipment && place.equipment.length">
            <li *ngFor="let item of place.equipment">{{ item }}</li>
        </ul>
        <div *ngIf="!place.equipment || !place.equipment.length">
            No equipment
        </div>
    </ob-section>

    <ob-section name="Metrics">
        <div>
            <div>Is used: {{ place.isUsed ? 'yes' : 'no' }}</div>
        </div>
    </ob-section>

    <ob-section name="Description">
        <div *ngIf="place.description.length">{{ place.description }}</div>
        <div *ngIf="!place.description.length">No description</div>
    </ob-section>

    <div class="actions">
        <ob-button name="Edit" (click)="openEditPlaceModal()"></ob-button>
        <ob-button name="Remove" (click)="handleRemovePlace()"></ob-button>
    </div>
</div>
