.grid {
    display: grid;
    grid-gap: 3rem;
}

.title {
    font-size: 2.4rem;
    font-weight: bold;
    color: var(--color-accent);
    margin: 1rem 0;
}

.actions {
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    grid-gap: 2rem;
}
