<div class="grid" *ngIf="room">
    <div class="title">{{ room.name }}</div>

    <ob-section name="Metrics">
        <div>Total places: {{ room.places.length }}</div>
        <!--        <div>Used places at the moment: {{ usedPlaces }}</div>-->
        <div>Available places for booking: {{ availablePlacesForBooking }}</div>
    </ob-section>

    <ob-section name="Description">
        <div *ngIf="room.description.length">{{ room.description }}</div>
        <div *ngIf="!room.description.length">No description</div>
    </ob-section>

    <div class="actions">
        <ob-button
            name="Edit"
            (click)="openEditRoomModal()"
            *ngIf="userRole === role.ADMIN"
        ></ob-button>
        <ob-button
            name="Remove"
            (click)="handleRemoveRoom()"
            *ngIf="userRole === role.ADMIN"
        ></ob-button>
        <ob-button name="Go to room" (click)="goToRoom()"></ob-button>
    </div>
</div>
