.wrapper {
    display: grid;
    grid-template-rows: max-content auto;
    height: 100%;
    border: 0.1rem solid var(--color-border);
    border-radius: 0.3rem;
    overflow: hidden;
    box-sizing: border-box;
}

.item {
    display: grid;
    padding: 0.8rem 1.6rem;
    align-items: center;
    transition: all 0.1s ease;
    cursor: pointer;
    user-select: none;
}

.item:hover {
    background-color: var(--color-accent-hover);
    color: var(--color-surface);
}

.selected,
.selected:hover {
    background-color: var(--color-accent);
    color: var(--color-surface);
}

.list-container {
    overflow: auto;
}
