<div class="grid">
    <ob-input
        label="From"
        [type]="inputType.DATE"
        [value]="getTime(parameters.fromDate)"
        (onchange)="handleChange($event, 'fromDate')"
    ></ob-input>
    <ob-input
        label="To"
        [type]="inputType.DATE"
        [value]="getTime(parameters.toDate)"
        (onchange)="handleChange($event, 'toDate')"
    ></ob-input>
    <ob-button
        class="book-button"
        name="Book"
        (click)="handleSubmit()"
    ></ob-button>
</div>
