:root {
  --color-surface: #fff;
  --color-background: #eee;
  --color-border: #e0e0e0;
  --color-text: #616161;
  --color-accent: #6295dd;
  --color-accent-hover: rgba(98, 149, 221, 0.8);
  --color-accent-focus: #4487dd;
  --color-disable: #999;
  --color-shadow: rgba(0, 0, 0, 0.1);
  --color-accent-shadow: rgba(98, 149, 221, 0.25);
  --color-accent-shadow-hover: rgba(98, 149, 221, 0.4);
}
@font-face {
  font-family: "Open Sans";
  src: url(OpenSans-Regular.ttf);
}
html {
  font-size: 62.5%;
}
body {
  margin: 0;
  min-height: 100%;
  font-size: 1.4rem;
  font-family: "Open Sans", sans-serif;
}
