/* You can add global styles to this file, and also import other style files */
@import '~ngx-toastr/toastr.css';

:root {
    --color-surface: #fff;
    --color-background: #eee;
    --color-border: #e0e0e0;
    --color-text: #616161;
    --color-accent: #6295dd;
    --color-accent-hover: rgba(98, 149, 221, 0.8);
    --color-accent-focus: #4487dd;

    --color-disable: #ebebeb;

    --color-shadow: rgba(0, 0, 0, 0.1);
    --color-accent-shadow: rgba(98, 149, 221, 0.25);
    --color-accent-shadow-hover: rgba(98, 149, 221, 0.4);
}

@font-face {
    font-family: 'Open Sans';
    src: url('./assets/fonts/OpenSans-Regular.ttf');
}

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    min-height: 100%;
    font-size: 1.4rem;
    font-family: 'Open Sans', sans-serif;
}
