<div class="grid">
    <ob-rs-legend-item
        label="Empty"
        [cellType]="cellType.EMPTY"
        [nodeSize]="nodeSize"
        [padding]="padding"
    ></ob-rs-legend-item>

    <ob-rs-legend-item
        label="Available"
        [cellType]="cellType.AVAILABLE"
        [nodeSize]="nodeSize"
        [padding]="padding"
    ></ob-rs-legend-item>

    <ob-rs-legend-item
        label="Using"
        [cellType]="cellType.USED"
        [nodeSize]="nodeSize"
        [padding]="padding"
    ></ob-rs-legend-item>

    <ob-rs-legend-item
        label="Not available"
        [cellType]="cellType.NOT_AVAILABLE"
        [nodeSize]="nodeSize"
        [padding]="padding"
    ></ob-rs-legend-item>
</div>
