<div class="grid">
    <ob-header></ob-header>
    <div class="page-content">
        <ob-block name="Rooms">
            <div class="block-content">
                <ob-room-list-container></ob-room-list-container>
                <ob-button-plate
                    label="Create room"
                    description="Create new room"
                    (click)="handleCreateRoom()"
                >
                    <ng-container icon>
                        <ob-place-icon></ob-place-icon>
                    </ng-container>
                </ob-button-plate>
            </div>
        </ob-block>

        <ob-block name="Room information">
            <ob-room-info-container></ob-room-info-container>
        </ob-block>
    </div>
</div>
